@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;
}

html{
  height: 100%;
}

body {
	line-height: 1;
  width: 100%;
  min-height: 100%;
}
a{
  color: #fff; text-decoration: none; outline: none
}
a:hover, a:active {
  text-decoration: none; color:#fff; background-color:transparent;
}

*,table, td, tr, div, select, input[type="text"], input[type="password"], input, textarea, a{    font-family: 'Noto Sans KR', sans-serif;word-break: break-all;
  word-wrap: break-word; }

p{color: #fff;}

.App {
  text-align: center;
  width: 100%;
  max-width: 2560px;
  min-width: 375px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  background: #1b1b1b;
  scrollbar-color: #a5a5a5 #1b1b1b;
}

.App::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background: transparent;
}

.App::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 0;
  background-color: #a5a5a5;
}

.App::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

.pos_r{
  position: relative;
}

.inner{
  width: 1000px;
  margin: 0 auto;
}

.header a{
  color: #fff;
}

.header .top{
  text-align: right;
  border-bottom: 1px solid #2f2f2f;
}

.header .top a{
  padding: 0 11px;
  font-size: 12px;
  line-height: 34px;
  color: #a5a5a5;
}

.header .top a::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-right: 10px;
  background-color: #2f2f2f;
}

.header .bottom_wrap{
  text-align: left;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.header .bottom h1{
  width: 100px;
  height: 30px;
  margin-right: 50px;
}

.header .bottom h1 > a{
  display: inline-block;
  background: url('https://www.wavve.com/img/ci-wavve.5b304973.svg') 0 0/contain no-repeat;
  width: 100%;
  height: 100%;
}

.header .menu_wrap a{
  padding: 10px 20px;
}

.main{
  padding: 30px 0 50px;
}

.movie_wrap{
  display: flex;
  flex-wrap: wrap;
}

.main .title{
  color: #fff;
  text-align: left;
  margin: 10px 0 30px 20px;
  font-weight: bolder;
}

.main .mainvisual{
  width: 100%;
  padding-bottom: 30px;
}


.main_visual_sli .swiper-pagination-fraction,.main_visual_sli .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets,.main_visual_sli .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -20px;
}

.main_visual_sli .swiper-pagination .swiper-pagination-bullet{
  background: #e8e8e8;
  width: 10px;
  height: 10px;
}

.main_visual_sli  .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.main .mainvisual img{
  width: 100%;
  border-radius: 8px;
}

.main .mainvisual .swiper-slide{
  width: 90%;
}

.main .mainvisual .swiper-slide-active {
  width: 90%;
}

.main .mainvisual  .swiper-button-prev,.main .mainvisual .swiper-button-next{
  color: #fff;
  opacity: 0.6;
}

.main .mainvisual  .swiper-button-prev:hover,.main .mainvisual .swiper-button-next:hover{
  opacity: 1;
}

.main .mainvisual .swiper-button-prev:after, .main .mainvisual .swiper-button-next:after{
  font-size: 80px;
}

.main .mainvisual .swiper-button-prev{
  left: 80px;
}

.main .mainvisual .swiper-button-next{
  right: 80px;
}

.main_visual_sli .movie_name{
  position: absolute;
  top: 90%;
  left: 5%;
  color: #fff;
  text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
  font-size: 1.5rem;
}

.movie .movie_item{
  width: calc(100%/4 - 5px);
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.movie .movie_item .img_area{
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.popular_tv_item, .popular_movie_item{
  width: calc(100%/4 - 5px);
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.img_area{
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.movie  h4{
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0;
  color: #fff;
}

.desc p{
  font-size: 0.8em;
  line-height: 1.5em;
  color: #fff;
}

.footer{
  padding-bottom: 100px;
}

.footer p, .footer a{
  color: #717171;
}

.footer a:hover{
  color: #1351f9;
}

.footer_wrap{
  display: flex;
  justify-content: space-between;
}

.footer_wrap .left{
  width: 70%;
  text-align: left;
  line-height: 1.5rem;
  font-size: 0.7rem;
}

.footer_wrap .left p{
  display: flex;
  align-items: center;
}

.footer_wrap .left p > span{
  width: 1px;
  height: 1rem;
  background: #717171;
  display: inline-block;
  margin: 0 10px;
}

.footer_wrap .right{
  width: 30%;
}

.right_wrap{
  display: flex;
  align-items: center;
}

.select_wrap > select{
  background-color: #252525;
  border: none;
  color: #717171;
  padding: 10px 20px 10px 10px;

}

.footer_wrap .right .wave_footer_logo_wrap {
  width: 30%;
  height: 38px;
  margin-right: 1px;
  font-size: 0;
  line-height: 38px;
  text-align: center;
  background-color: #252525;
}

.footer_wrap .right .wave_footer_logo_wrap .logo_area{
  width: 100%;
  height: 100%;
  background: url('https://www.wavve.com/img/ico-footer-wavve-on.d4912b54.svg')0 0 no-repeat;
}

.login_wrap{
  background: #252525;
  width: 70%;
  margin: 80px auto;
  padding: 30px 30px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  html h4{font-size: 18px;}
	html p{font-size:16px; }
}
@media (max-width: 640px) {
	html p{font-size:13px; }
}
@media (max-width: 480px) {
	html p{font-size:11px; }
}
